<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head">
</head>
<body class="bg-secondary">
<header th:replace="fragments/commons::navigation"></header>
<main role="main" class="bg-secondary">


    <body class="main-bg">



<!--<div style="text-align: center;">-->


    <div class="form-body align-content-center">

            <div class="form-holder align-content-center">
                <div class="form-content">
                    <div class="form-items">
                        <h3>Добави нова обява за мотор.</h3>
                        <p>За да добавиш обява попълни полетата по-долу.</p>


                        <form th:onsubmit="return check_checkbox()" th:action="@{/offers/add}" th:method="post" th:object="${offerDTO}"
                              class="requires-validation" enctype="multipart/form-data" novalidate>


                        <div class="row">
                            <div class="col">
                                <!-- title input -->
                                <div class="form-outline">
                                    <label class="form-label" for="title">Заглавие</label>
                                    <input th:field="*{title}" th:errorclass="is-invalid"
                                            type="text" id="title" class="form-control" />
                                    <p th:errors="*{title}" class="invalid-feedback errors alert alert-danger"></p>
                                </div>
                            </div>
                            <div class="col">
                                <!-- Condition input -->
                                <div class="form-outline">
                                    <label class="form-label" for="itemCondition">Състояние</label>
                                    <select id="itemCondition" name="itemCondition" th:field="*{itemCondition}" th:errorclass="is-invalid">
                                        <option th:each="itemCondition : ${T(com.example.myproject.model.enums.ConditionEnum).values()}"
                                                th:value="${itemCondition.getDisplayValue()}" th:text="${itemCondition.getDisplayValue()}"
                                                th:selected="${itemCondition} == *{itemCondition}"></option>
                                    </select>
                                    <p th:errors="*{itemCondition}" class="invalid-feedback errors alert alert-danger"></p>
                                </div>
                            </div>
                            <div class="col">
                                <!-- City input -->
                                <label class="form-label" for="city">Град</label>
                                <select th:field="*{city}" th:errorclass="is-invalid" class="form-select mt-3">
                                    <option selected disabled value="Select category">Избери град</option>
                                    <option id="city"
                                            th:each="city : ${cities}"
                                            th:value="${city.cityName}"
                                            th:text="${city.cityName}">
                                    </option>
                                </select>
                                <p th:errors="*{city}" class="invalid-feedback errors alert alert-danger"></p>
                            </div>
                        </div>


                        <hr />

                        <div class="row">
                            <div class="col">
                                <!-- Brand input -->
                                <label class="form-label" for="brand">Марка</label>
                                <select th:field="*{brand}" th:errorclass="is-invalid" class="form-select mt-3">
                                    <option selected disabled value="Select category">Избери марка</option>
                                    <option id="brand"
                                            th:each="brand : ${brands}"
                                            th:value="${brand.brand}"
                                            th:text="${brand.brand}">
                                    </option>
                                </select>
                                <p th:errors="*{brand}" class="invalid-feedback errors alert alert-danger"></p>
                            </div>
                            <div class="col">
                                <!-- Model input -->
                                <label class="form-label" for="model">Модел</label>
                                <select th:field="*{model}" th:errorclass="is-invalid" class="form-select mt-3">
                                    <option selected disabled value="Select category">Избери модел</option>
                                    <option id="model"
                                            th:each="model : ${models}"
                                            th:value="${model.model}"
                                            th:text="${model.model}">
                                    </option>
                                </select>
                                <p th:errors="*{model}" class="invalid-feedback errors alert alert-danger"></p>
                            </div>
                            <div class="col">
                                <!-- Price input -->
                                <div class="form-outline">
                                    <label class="form-label" for="year">Дата на производство</label>
                                    <input th:field="*{year}" th:errorclass="is-invalid"
                                           type="date" id="year" class="form-control" />
                                    <p th:errors="*{year}" class="invalid-feedback errors alert alert-danger"></p>
                                </div>
                            </div>
                        </div>

                            <div class="row">
                                <div class="col-4">
                                    <!-- Price input -->
                                    <div class="form-outline">
                                        <label class="form-label" for="price">Цена</label>
                                        <input th:field="*{price}" th:errorclass="is-invalid"
                                               type="number" id="price" class="form-control" />
                                        <p th:errors="*{price}" class="invalid-feedback errors alert alert-danger"></p>
                                    </div>
                                </div>
                            </div>

                            <hr />


                            <div class="col-md-12">
                                <label class="form-label" for="description">Описание</label>
                                <textarea th:field="*{description}" name="description" class="form-control" id="description"
                                          placeholder="Въведи описание." th:errorclass="is-invalid"
                                          style="width: 100%; height: 150px;"></textarea>
                                <p th:errors="*{description}" class="invalid-feedback errors alert alert-danger"></p>
                            </div>

                            <div class="col-md-5">
                                <label class="form-label" for="picture">Снимка</label>
                                <input th:field="*{picture}" th:errorclass="is-invalid" id="picture"
                                     class="form-control"  name="picture" type="file">
                                <p th:errors="*{picture}" class="invalid-feedback errors alert alert-danger"></p>
                            </div>

                            <hr />

                            <button id="submit" type="submit" class="btn btn-primary">Добави обявата</button>
                            <div class="form-button mt-3">

                            </div>
                        </form>
                </div>
            </div>

    </div>

</div>



    </body>

</main>
<div style="text-align: center;"><footer class="container" th:replace="fragments/commons::footer"></footer></div>

</body>
</html>