<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body class="bg-secondary">
<header th:replace="fragments/commons::navigation"> </header>
<main role="main" class="bg-secondary">


    <div class="jumbotron">
        <div class="container text-light text-center">
            <h1 class="display-3"><strong class="bg-blur rounded">MotoBG?</strong></h1>
            <h1 class="display-3"><strong class="bg-blur rounded">Продай мотора си тук!</strong></h1>
        </div>
    </div>

    <div style="text-align: center;">
    <h4 class="display-4"><strong class="rounded">Продавачи с най-висок рейтинг.</strong></h4>
    </div>

        <section id="gallery">
            <div class="container">
                <div class="row">

                    <div class="col-lg-4 mb-4" th:each="u : ${allUsers}" th:object="${u}">
                        <div class="card">
                            <img th:src="*{profilePictureUrl}" alt="" class="card-img-top">
                            <div class="card-body">
                                <h5  class="card-title" th:text="*{username}"></h5>
                                <p class="card-text" th:text="*{description}"></p>
                                <a th:href="@{/users/{id}/details(id= *{id})}" class="btn btn-outline-success btn-sm">Виж повече</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


</main>
<footer class="container" th:replace="fragments/commons::footer"></footer>


</body>
</html>