<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body class="bg-secondary">
<header th:replace="fragments/commons::navigation"></header>
<main role="main" class="bg-secondary">


    <body class="main-bg">
    <div class="login-container text-c animated flipInX">
        <div>
            <h1 class="logo-badge text-whitesmoke"><span class="fa fa-user-circle"></span></h1>
        </div>
        <h3 class="text-whitesmoke text-center">Регистрация</h3>
        <div class="container-content">



            <form th:action="@{/users/register}"
                  th:method="post"
                  th:object="${userDTO}"
                    class="margin-t">
                <div class="form-group">
                    <input id="username" th:field="*{username}" th:errorclass="is-invalid"
                           type="text" class="form-control" placeholder="Потребителско име" required="">
                    <label class="form-label" for="username">Потребителско име</label>
                    <p class="invalid-feedback errors alert alert-danger">
                        Потребителското име е задължително и трябва да бъде между 4 и 20 символа. / Това име вече съсществува.
                    </p>
                </div>
                <div class="form-group" >
                    <input id="email" th:field="*{email}" th:errorclass="is-invalid"
                        type="text" class="form-control" placeholder="Имейл" >
                    <label class="form-label" for="email">Имейл</label>
                        <p class="invalid-feedback errors alert alert-danger">Имейлът трябва да бъде валиден.</p>
                </div>
                <div class="form-group">
                    <input id="firstName" th:field="*{firstName}" th:errorclass="is-invalid"
                            type="text" class="form-control" placeholder="Име" required="">
                    <label class="form-label" for="firstName">Първо име</label>
                    <p class="invalid-feedback errors alert alert-danger">Името е задължително и трябва да бъде между 4 и 20 символа.</p>
                </div>
                <div class="form-group">
                    <input id="lastName" th:field="*{lastName}" th:errorclass="is-invalid"
                            type="text" class="form-control" placeholder="Фамилия" required="">
                    <label class="form-label" for="lastName">Фамилия</label>
                    <p class="invalid-feedback errors alert alert-danger">Фамилията трябва да бъде между 4 и 20 символа.</p>
                </div>
                <div class="form-group">
                    <input id="phoneNumber" th:field="*{phoneNumber}" th:errorclass="is-invalid"
                           type="text" class="form-control" placeholder="Телефонен номер" required="">
                    <label class="form-label" for="phoneNumber">Телефонен номер</label>
                    <p class="invalid-feedback errors alert alert-danger">Моля въведи телефон.</p>
                </div>
                <div class="form-group">
                    <input id="homeTown" th:field="*{homeTown}" th:errorclass="is-invalid"
                           type="text" class="form-control" placeholder="Град" required="">
                    <label class="form-label" for="homeTown">Град</label>
                    <p class="invalid-feedback errors alert alert-danger">Моля въведи град.</p>
                </div>
                <div class="form-group">
                    <input id="password" th:field="*{password}" th:errorclass="is-invalid"
                            type="password" class="form-control" placeholder="Парола" required="">
                    <label class="form-label" for="password">Парола</label>
                    <p class="invalid-feedback errors alert alert-danger">Паролата е задължителна и трябва да бъде между 4 и 20 символа.</p>
                </div>
                <div class="form-group">
                    <input id="confirmPassword" th:field="*{confirmPassword}" th:errorclass="is-invalid"
                            type="password" class="form-control" placeholder="Потвърди паролата" required="">
                    <label class="form-label" for="confirmPassword">Потвърди паролата</label>
                        <p class="invalid-feedback errors alert alert-danger">Паролите не съвпадат.</p>
                    </div>

                <button type="submit" class="form-button button-l margin-b">Регистрация</button>


                <p class="text-whitesmoke text-center"><small>Вече имаш акаунт?</small></p>
                <div style="text-align: center;"> <a class="text-darkyellow"
                                                     th:href="@{/users/login}"><small>Влез от тук</small></a></div>
            </form>



            <p class="margin-t text-whitesmoke text-center"><small> MotoBG 2021</small> </p>
        </div>
    </div>
    </body>




</main>
<div style="text-align: center;"><footer class="container" th:replace="fragments/commons::footer"></footer></div>

</body>
</html>